article {
    width: 100%;
    max-width: 80ch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    position: relative;
    margin-bottom: 10%;

    blockquote {
        margin-top: 3rem;
        border-left: 5px solid grey;
        padding-left: 2rem;
    }

    .quotation-russian {
        font-size: larger;
        white-space: pre-line;
    }

    .quotation-english {
        font-size: smaller;
    }

    .quotation-author {
        padding-left: 30%;
        text-align: end;
        font-style: italic;
        margin: 3rem 2rem 0 0;
        font-size: smaller;
    }
}
